#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.timerWrapper {
  background: radial-gradient(
    farthest-corner at 50% 35%,
    var(--color-gradient-light) 1%,
    var(--color-gradient-dark) 90%
  );
  box-shadow: 0 -20px 30px var(--color-gradient-light),
    -10px 15px 20px var(--color-gradient-dark);
  font-family: "Bebas Neue";
  border: 7px solid var(--color-red);
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 75vw;
  max-width: 400px;
  position: relative;
}

#clock {
  font-size: clamp(16px, 20vw, 10rem);
  margin-bottom: 10%;
  text-shadow: -2px 3px 5px var(--color-gradient-dark);
}

#controls {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  font-family: "Montserrat";
}

#btnStartStop {
  font-size: clamp(0.5rem, 1vw, 1rem);
  letter-spacing: 8px;
  margin-bottom: 7%;
  text-shadow: -1px 2px 2px var(--color-gradient-dark);
}

#btnSettings {
  background: url(../STARTER/images/gear.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
