@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bebas Neue";
  src: url("../STARTER/fonts/bebasneue-book-webfont.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  src: url("../STARTER/fonts/Montserrat-Bold.ttf") format("woff");
}

:root {
  --color-white: #fff;
  --color-background: #2b2a30;
  --color-green: #00aa51;
  --color-red: #9d0000;
  --color-gradient-light: #38373c;
  --color-gradient-dark: #151517;

  font-size: 16px;
  font-weight: 400;
  line-height: 1;

  color-scheme: light dark;
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
